.Button {
  background-color: #cd4242;
  border-radius: 50%;
  border-style: none;
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5em;
  height: 40px;
  padding-top: 4px;
  width: 40px;
}

.Button:hover {
  background-color: #dd6262;
}
