.ClickableTimer {
  background-color: red;
  border-color: #000;
  border-radius: 100%;
  border-style: solid;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  height: 200px;
  width: 200px;
}

.ClickableTimer:hover {
  background-color: green;
}
