.EditableTimer {
  margin: 0 auto;
}

.EditableTimer-header {
  font-size: 1.2em;
  margin-top: 40px;
}

.EditableTimer-time {
  font-size: 1.5em;
  margin: 0 15px;
}

@media (min-width: 480px) {
  .EditableTimer {
    display: inline-block;
    margin: 0 20px;
  }
}
